@import "variables";

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.blogs {
  min-height: $minContentHeight;
  background-color: $main-background-color;
}
.wrapper {
  margin: 0 auto;

  max-width: 120rem;
  @include mq(d_xl) {
    max-width: 90rem;
  }
  @include mq(d_md) {
    max-width: 50rem;
  }
}
.title {
  color: $main-text-color;
  font-size: 7rem;
  width: 22rem;
  text-align: center;
  margin: 0;
  font-weight: 400;
  letter-spacing: 0.5rem;
}
.list {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem 0;
}
.not_blogs {
  width: 100%;
  text-align: center;
  font-size: 5rem;
  color: $main-text-color;
  font-weight: 300;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0 2vw;
}
.selected {
  background-color: $accent-color;
  color: $main-text-color;
  transition: 0.3s ease;
}
.more {
  margin: 4rem auto;
  text-align: center;
  font-size: 4rem;
  font-weight: 400;
  color: $main-text-color;
  background-color: $sub-background-color;
  border-radius: 1rem;
  width: 60%;
  height: 6rem;
  line-height: 6rem;
  transition: 0.3s ease;
  align-items: center;
  justify-content: center;
  @include mq(u_xl) {
    &:hover {
      transform: translateY(0.4rem);
      transition: 0.3s ease;
    }
  }
}
.search {
  &_btn {
    padding: 0.4rem 0.5rem;
    border-radius: 1rem;
    margin-left: 4rem;
    border: 0.3rem $accent-color solid;
    position: relative;
  }
  &_field {
    width: 100%;
    font-size: 2rem;
    margin: 2rem 1rem;
    border: 2px rgba(255, 255, 255, 0) solid;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.1);
    outline: none;
    padding: 1rem 2rem;
    color: $main-text-color;
    font-style: normal;
    font-weight: 100;
    &:focus {
      border: 2px $accent-color solid;
    }
    &::placeholder {
      color: $sub-text-color;
    }
  }
}
.tags_toggle {
  width: 100%;
  text-align: center;
  transition: 0.3s ease;
}
.tags {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 0;
  height: 0;
  overflow: hidden;
  transition: 0.3s ease;
  animation-name: fadeOut;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  &_item {
    color: $main-text-color;
    background-color: $main-background-color;
    padding: 0.5rem 3rem;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 2rem;
    border: 0.2rem $accent-color solid;
    margin: 0 1rem 1rem 0;
    &:nth-child(2) {
      margin-left: 1rem;
    }
    transition: 0.3s ease;
  }
}
.open {
  height: auto;
  transition: 0.3s ease;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.now {
  background-color: $accent-color;
  transition: 0.3s ease;
}
