@import "variables";

.blog {
  width: calc((100% - 0.5rem * 6) / 3);
  @include mq(d_xl) {
    width: calc((100% - 0.5rem * 4) / 2);
  }
  @include mq(d_md) {
    width: calc((100% - 0.5rem * 2) / 1);
    margin: 1rem;
  }
  height: 25rem;
  margin: 0.5rem;
  border: 0.2rem solid $sub-text-color;
  position: relative;
  z-index: 1;
  border-radius: 1rem;
  overflow: hidden;
  transition: 0.5s ease;
  padding: 2rem;
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  @for $i from 1 to 7 {
    &:nth-child(#{$i}) {
      $delay: $i * $fadein-delay;
      animation-delay: $delay;
    }
    // &:nth-child(#{$i + 6}) {
    //   $delay: $i * $fadein-delay;
    //   animation-delay: $delay;
    // }
  }
  @include mq(u_xl) {
    &:hover {
      transform: scale(1.02);
      transition: 0.3s ease;
    }
  }
  &_inner {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
  }
}
.title {
  color: $main-text-color;
  font-size: 3rem;
  margin: 2rem 0 0 0;
  padding: 0 2rem;
  @supports (-webkit-line-clamp: 3) {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  line-height: 4rem;
  @include mq(d_md) {
    height: 12rem;
  }
}
.tags {
  display: flex;
  width: 100%;
  margin: 0 1.5rem;
  &_item {
    color: $main-text-color;
    background-color: $main-background-color;
    font-size: 1.8rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border-radius: 2rem;
    &:nth-child(n + 4) {
      display: none;
    }
  }
}
.externalblog {
  position: absolute;
  left: 2rem;
  bottom: 1.5rem;
}
.date {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
}
.qiita {
  font-size: 2rem;
  color: $main-text-color;
  background-color: $qiita-color;
  display: flex;
  align-items: center;
  padding: 0.5rem 2rem;
  border-radius: 2rem;
}
.zenn {
  font-size: 2rem;
  color: $main-text-color;
  background-color: $zenn-color;
  display: flex;
  align-items: center;
  padding: 0.5rem 2rem;
  border-radius: 2rem;
}
