@import "variables";

.wrapper {
  max-width: $blogMaxWidth;
  margin: 0 auto;
  min-height: $minContentHeight;

  background-color: $main-background-color;
}
.image {
  width: 100%;
  height: 30vh;
  @include mq(d_md) {
    height: 20vh;
  }
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
}
.meta {
  width: 100%;
  margin: 2rem 0;
  text-align: center;
  &_sub {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem;
    position: relative;
  }
}
.title {
  font-size: 4rem;
  font-weight: bold;
  color: $main-text-color;
  margin: 0;
}
.tags {
  display: flex;
  @include mq(d_md) {
    justify-content: center;
    width: 100%;
    &_item {
      font-size: 1.5rem !important;
      padding: 0.5rem 1rem !important;
    }
  }
  &_item {
    color: $main-text-color;
    background-color: $main-background-color;
    padding: 0.5rem 3rem;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 2rem;
    border: 0.2rem $accent-color solid;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
}
