@import "variables";

.contact {
  min-height: 60vh;
}
.wrapper {
  margin: 20vh auto;
  max-width: 100rem;
}
.title {
  color: $main-text-color;
  font-size: 7rem;
  font-family: Roboto Mono;
  letter-spacing: 0.5rem;
  font-style: normal;
  font-weight: bold;
  width: min-content;
  margin: 0 4rem;
}
.form {
  width: 100%;
  min-height: 70vh;
  input {
    width: 100%;
    font-size: 2.4rem;
    margin: 2rem 0;
    border: none;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.25),
      inset -2px -1px 4px rgba(255, 255, 255, 0.25);
    outline: none;
    padding: 1rem 2rem;
    color: $main-text-color;
    font-family: "Roboto Mono";
    font-style: normal;
    font-weight: 100;
    &::placeholder {
      color: $sub-text-color;
    }
  }
  textarea {
    width: 100%;
    font-size: 2.4rem;
    margin: 2rem 0;
    border: none;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.25),
      inset -2px -1px 4px rgba(255, 255, 255, 0.25);
    outline: none;
    padding: 1rem 2rem;
    color: $main-text-color;
    font-family: "Roboto Mono";
    font-style: normal;
    font-weight: 100;
    &::placeholder {
      color: $sub-text-color;
      font-weight: 100;
    }
  }
  button {
    outline: none;
    border: none;
    font-family: Roboto Mono;
    font-size: 2.4rem;
    display: flex;
    align-items: center;
    letter-spacing: 0.07em;
    color: $main-text-color;
    background: $accent-color;
    border-radius: 2rem;
    padding: 1rem 6rem;
    margin: 2rem auto;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25),
      -2px -1px 4px rgba(255, 255, 255, 0.25);
    &:hover {
      box-shadow: inset 2px 4px 4px rgba(0, 0, 0, 0.25),
        inset -4px -2px 4px rgba(255, 255, 255, 0.25);
      font-size: 2.35rem;
    }
  }
}
