@import "variables";

.contact {
  min-height: $minContentHeight;
  background-color: $main-background-color;
}
.wrapper {
  margin: 0 auto;
  
  max-width: 100rem;
}
.title {
  color: $main-text-color;
  font-size: 7rem;
  letter-spacing: 0.5rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.5rem;
  margin: 0 4rem;
  @include mq(d_md) {
    margin: 0;
  }
}
.form {
  width: 100%;
  min-height: 70vh;
  p {
    font-size: 2rem;
    color: $main-text-color;
  }
  a {
    padding: 0 0.5rem;
    color: $accent-color;
    text-decoration: none;
  }
  input {
    width: 100%;
    font-size: 2.4rem;
    margin: 1rem 0;
    border: 2px rgba(255, 255, 255, 0) solid;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.1);
    outline: none;
    padding: 1rem 2rem;
    color: $main-text-color;
    &::placeholder {
      color: $sub-text-color;
    }
    &:focus {
      border: 2px $accent-color solid;
    }
  }
  textarea {
    width: 100%;
    font-size: 2.4rem;
    margin: 1rem 0;
    border: 2px rgba(255, 255, 255, 0) solid;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.1);
    outline: none;
    padding: 1rem 2rem;
    color: $main-text-color;
    &::placeholder {
      color: $sub-text-color;
    }
    &:focus {
      border: 2px $accent-color solid;
    }
  }
  label {
    font-size: 1.7rem;
    display: block;
    margin: 2rem 1rem 0 1rem;
    color: $main-text-color;
    &::after {
      content: "必須";
      color: $main-text-color;
      background-color: $accent-color;
      padding: 0.3rem 0.7rem;
      border-radius: 1rem;
      margin-left: 1rem;
    }
  }
  button {
    outline: none;
    border: none;
    font-size: 2.4rem;
    display: flex;
    align-items: center;
    letter-spacing: 0.07em;
    color: $main-text-color;
    background: $sub-text-color;
    border-radius: 2rem;
    padding: 1rem 6rem;
    margin: 2rem auto;
    transition: 0.3s ease;
  }
}
.allow {
  background-color: $accent-color !important;
  transition: 0.3s ease;
}
