@import "variables";

.section {
  user-select: none;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.svg {
  position: relative;
  width: 4rem;
  margin: 0.5rem 0 0.5rem 2rem;
  height: 2.5rem;
}
.arrow {
  margin-left: 2rem;
  path {
    fill: $accent-color !important;
  }
}
.top {
  background-color: $main-background-color;
  @include mq(d_md) {
    height: 100vh !important;
  }
  height: calc(100vh - $headerHeight);
  display: flex;
  &_left {
    width: 50%;
    position: relative;
    @include mq(d_lg) {
      width: 100%;
    }
  }
  &_right {
    width: 50%;
    position: relative;
    @include mq(d_lg) {
      display: none;
    }
  }
  &_text {
    font-family: "Roboto Mono", monospace;
    color: $main-text-color;
    position: absolute;
    height: min-content;
    right: 0;
    top: -30vh;
    bottom: 0;
    margin: auto;
    font-size: 7rem;
    width: min-content;
    letter-spacing: calc(100vw / 90);
    @include mq(d_xl) {
      font-size: 6rem;
    }
    @include mq(d_lg) {
      left: 5vw;
    }
    &::before {
      content: "";
      position: absolute;
      bottom: -3rem;
      left: 0;
      background-color: $accent-color;
      width: 8rem;
      height: 1rem;
    }
  }
  &_img {
    position: absolute;
    bottom: 7rem;
    left: 10%;
    right: 0;
    margin: auto;
    width: 80%;
    height: calc(100vh - 7.5rem * 2);
    filter: drop-shadow(0.5rem 0 0 rgba(255, 255, 255, 0.5));
  }
  &_meta {
    position: absolute;
    top: 0;
    bottom: -50vh;
    right: 0;
    width: 90%;
    max-width: 65rem;
    height: min-content;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include mq(d_lg) {
      left: 0;
    }
    @include mq(d_md) {
      width: auto;
      max-width: none;
      flex-direction: column;
      justify-content: center;
    }
  }
  &_navigation {
    display: flex;
    color: $accent-color;
    font-size: 3rem;
    transition: 0.3s ease;
    align-items: center;
    justify-content: center;
    @include mq(u_xl) {
      &:hover {
        transform: scale(1.1, 1.1);
        transition: 0.3s ease;
      }
    }
  }
}
.introduction {
  background-color: $sub-background-color;
  &_title {
    width: min-content;
    font-size: 4rem;
    margin: auto;
    position: absolute;
    top: 10vh;
    left: 5rem;
    right: 0;
    font-weight: 300;
    letter-spacing: 1rem;
    color: $sub-text-color;
    @include mq(d_lg) {
      top: 3vh;
    }
    @include mq(d_md) {
      font-size: 3rem;
      top: 5vh;
    }
    &:before {
      content: "";
      display: block;
      width: 3rem;
      height: 0.3rem;
      position: absolute;
      left: -5rem;
      top: 0;
      bottom: 0;
      margin: auto;
      background-color: $sub-text-color;
    }
  }
  &_container {
    display: flex;
    height: 100vh;
    @include mq(d_lg) {
      flex-direction: column;
    }
  }
  &_left {
    width: 50%;
    position: relative;
    @include mq(d_lg) {
      width: 100%;
      height: 25vh;
      margin-top: 10vh;
    }
  }
  &_right {
    width: 50%;
    position: relative;
    @include mq(d_lg) {
      width: 100%;
      height: 65vh;
    }
  }
  &_icon {
    border-radius: 100%;
    overflow: hidden;
    width: 35rem;
    height: 35rem;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10vw;
    margin: auto;
    @include mq(d_lg) {
      top: auto;
      right: 0;
      left: 0;
      width: 15rem;
      height: 15rem;
    }
  }
  &_main {
    position: absolute;
    width: 30vw;
    min-width: 40rem;
    height: min-content;
    left: 5vw;
    bottom: 0;
    top: 0;
    margin: auto;
    @include mq(d_lg) {
      right: 0;
      left: 0;
      width: 50vw;
    }
  }
  &_name {
    font-size: 5rem;
    margin-bottom: 2rem;
    letter-spacing: 1rem;
    font-weight: bold;
    color: $main-text-color;
    text-align: center;
    @include mq(d_lg) {
      margin-top: 1rem;
    }
  }
  &_text {
    font-size: 2rem;
    font-weight: 400;
    color: $sub-text-color;
    display: none;
    line-height: 4rem;
    height: 30rem;
    justify-content: center;
    padding: 0 2rem;
    &_show {
      display: flex !important;
      align-items: center;
    }
  }
  &_pagenate {
    display: flex;
    width: 80%;
    margin: auto;
    height: 7rem;
    &_item {
      width: 100%;
      height: inherit;
      padding: 0 5%;
      &_inner {
        display: block;
        width: inherit;
        height: 0.7rem;
        margin: calc((7rem - 0.7rem) / 2) 0;
        background-color: $main-text-color;
        transition: 0.3s ease;
      }
      &:first-child {
        margin-left: 0;
      }
    }
    &_now {
      background-color: $accent-color;
      transform: scale(1.2, 1.2);
      transition: 0.3s ease;
    }
  }
}
.works {
  background-color: $main-background-color;
  &_title {
    width: min-content;
    font-size: 4rem;
    margin: auto;
    position: absolute;
    top: 10vh;
    left: 5rem;
    right: 0;
    font-weight: 300;
    letter-spacing: 1rem;
    color: $sub-text-color;
    &:before {
      content: "";
      display: block;
      width: 3rem;
      height: 0.3rem;
      position: absolute;
      left: -5rem;
      top: 0;
      bottom: 0;
      margin: auto;
      background-color: $sub-text-color;
    }
  }
  &_container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100vw;
    margin-top: 25vh;
    height: max-content;
    flex-wrap: wrap;
    @include mq(d_lg) {
      flex-wrap: nowrap;
      margin-top: 30vh;
      margin-bottom: 15vh;
    }
    overflow-y: scroll;
  }
  &_item {
    width: 35rem;
    height: 20rem;
    margin: 0 calc((100% - (35rem) * 3) / 6);
    @include mq(d_lg) {
      margin: 0;
      padding: 0 2rem;
    }
    margin-bottom: 10rem;
    background-color: none;
    padding: 2rem;
    border-radius: 0.5rem;
    &_container {
      display: flex;
    }
    @include mq(u_xl) {
      &:hover {
        background-color: $accent-color;
        transition: 0.3s ease;
      }
    }
  }
  &_name {
    font-weight: bold;
    font-size: 3.5rem;
    letter-spacing: 0.3rem;
    color: $main-text-color;
    margin: 0;
  }
  &_icon {
    display: block;
    height: min-content;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    margin: auto;
    position: absolute;
    &_wrapper {
      position: relative;
      height: 4.1rem;
      width: 4.1rem;
      margin-right: 2rem;
    }
  }
  &_num {
    font-size: 2rem;
    color: $main-text-color;
  }
  &_navigation {
    display: flex;
    color: $accent-color;
    font-size: 2.5rem;
    height: 2.5rem;
    transition: 0.3s ease;
    width: 100%;
    white-space: nowrap;
    justify-content: center;
  }
  &_navigation2 {
    display: flex;
    color: $accent-color;
    font-size: 2.5rem;
    height: 2.5rem;
    transition: 0.3s ease;
    width: 100%;
    justify-content: center;
    @include mq(u_xl) {
      &:hover {
        transform: scale(1.1);
        transition: 0.3s ease;
      }
    }
  }
  &_link {
    fill: $accent-color !important;
  }
}
.timeline {
  background-color: $sub-background-color;
  display: flex;
  &_left {
    position: relative;
    width: 40vw;
    height: 100vh;
    &_content {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      margin: auto;
      width: min-content;
      height: min-content;
    }
  }
  &_right {
    width: 60vw;
    height: 100vh;
    position: relative;
    &_content {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      margin: auto;
      width: 100%;
      height: min-content;
    }
  }
  &_title {
    width: min-content;
    height: min-content;
    font-size: 4rem;
    font-weight: 300;
    letter-spacing: 1rem;
    color: $sub-text-color;
    position: relative;
    margin-left: 6rem;
    &:before {
      content: "";
      display: block;
      width: 3rem;
      height: 0.3rem;
      position: absolute;
      left: -5rem;
      top: 0;
      bottom: 0;
      margin: auto;
      background-color: $sub-text-color;
    }
  }
  &_num {
    color: $main-text-color;
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15rem 0;
    &_strong {
      color: $accent-color;
      font-size: 5rem;
      margin-right: 1rem;
    }
  }
  &_navigation {
    display: flex;
    color: $accent-color;
    white-space: nowrap;
    font-size: 3rem;
    transition: 0.3s ease;
    @include mq(u_xl) {
      &:hover {
        transform: scale(1.1);
        transition: 0.3s ease;
      }
    }
  }
  &_item {
    width: 80%;
    height: 10vh;
    border-bottom: 1px $sub-text-color solid;
    display: flex;
    margin: 6vh auto;
    padding: 0 2rem;
    transition: 0.3s ease;
    &_date {
      color: $sub-text-color;
      font-size: 2rem;
      display: flex;
      font-weight: 200;
      justify-content: center;
      align-items: center;
      margin-right: 5rem;
      width: 11rem;
    }
    &_title {
      color: $main-text-color;
      font-size: 3rem;
      display: flex;
      font-weight: 200;
      align-items: center;
      width: calc(100% - 16rem - 40px);
      height: 100%;
      line-height: 10vh;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }
    @include mq(u_xl) {
      &:hover {
        transform: translateX(1rem);
        transition: 0.3s ease;
      }
    }
  }
}
.blog {
  background-color: $sub-background-color;
  &_title {
    width: min-content;
    font-size: 4rem;
    margin: auto;
    position: absolute;
    top: 10vh;
    left: 5rem;
    right: 0;
    font-weight: 300;
    letter-spacing: 1rem;
    color: $sub-text-color;
    &:before {
      content: "";
      display: block;
      width: 3rem;
      height: 0.3rem;
      position: absolute;
      left: -5rem;
      top: 0;
      bottom: 0;
      margin: auto;
      background-color: $sub-text-color;
    }
    &_sub {
      font-size: 3rem;
      color: $main-text-color;
      font-weight: 300;
      margin: auto;
      width: min-content;
      white-space: nowrap;
      position: absolute;
      top: 20vh;
      left: 0;
      right: 0;
      display: inline-flex;
      align-items: center;
      &_strong {
        font-size: 5rem;
        font-weight: 300;
        color: $accent-color;
        margin: 1rem;
      }
    }
  }
  &_wrapper {
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  &_inner {
    display: flex;
    width: 100%;
    max-width: 120rem;
    @include mq(d_xl) {
      max-width: 90rem;
      a:nth-child(3) {
          display: none;
      }
    }
    @include mq(d_md) {
      max-width: 50rem;
      a:nth-child(2),a:nth-child(3) {
          display: none;
      }
    }
    a {
      @include mq(u_xl) {
        &:nth-child(2n + 1) {
          transform: scale(0.9);
          &:hover {
            transform: scale(0.93);
            transition: 0.3s ease;
          }
        }
      }
    }
  }
  &_navigation {
    display: flex;
    color: $accent-color;
    font-size: 3rem;
    transition: 0.3s ease;
    position: absolute;
    margin: auto;
    bottom: 15vh;
    left: 0;
    right: 0;
    width: min-content;
    white-space: nowrap;
    @include mq(u_xl) {
      &:hover {
        transform: scale(1.1);
        transition: 0.3s ease;
      }
    }
  }
}
