@import "variables";

.works {
  min-height: $minContentHeight;
  background-color: $main-background-color;
}
.wrapper {
  margin: 0 auto;

  max-width: 120rem;
}
.title {
  color: $main-text-color;
  font-size: 7rem;
  font-weight: 400;
  text-align: center;
  width: 30rem;
  letter-spacing: 0.5rem;
}
.list {
  display: flex;
  flex-wrap: wrap;
  margin: 4rem 0;
}
.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.category {
  width: calc(120rem - 30rem - 4rem);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  &_inner {
    text-align: center;
    width: min-content;
    font-size: 2rem;
    background-color: $main-background-color;
    color: $sub-text-color;
    padding: 1rem;
    border-radius: 0.5rem;
    transition: 0.3s ease;
    @include mq(d_md) {
      width: calc(100% / 3);
    }
  }
}
.selected {
  background-color: $accent-color;
  color: $main-text-color;
  transition: 0.3s ease;
}
.more {
  margin: 4rem auto;
  text-align: center;
  font-size: 4rem;
  font-weight: 400;
  color: $main-text-color;
  background-color: $sub-background-color;
  border-radius: 1rem;
  width: 60%;
  height: 6rem;
  line-height: 6rem;
  transition: 0.3s ease;
  align-items: center;
  justify-content: center;
  @include mq(u_xl) {
    &:hover {
      transform: translateY(0.4rem);
      transition: 0.3s ease;
    }
  }
}
.not_works {
  width: 100%;
  text-align: center;
  font-size: 5rem;
  color: $main-text-color;
  font-weight: 300;
}
